

<h1><pre>
  _  __      _ _           _           
 | |/ /     (_|_)         (_)          
 | ' / _ __  _ _ _____ __  _  ___ __ _ 
 |  | | '_ \| | |_  / '_ \| |/ __/ _` |
 | . \| | | | | |/ /| | | | | (_| (_| |
 |_|\_\_| |_| |_/___|_| |_|_|\___\__,_|
           _/ |                        
          |__/                         

</pre></h1>

<h2>Trenutno stanje po vrstah:</h2>

<ul>
    % for vrsta in knjiznica.vrste:
    <li><strong>{{vrsta.ime}}:</strong> {{vrsta.stanje()}}</li>
    % end
</ul>

<form action="/dodaj-vnos/" method="POST">
    <label for="naslov">Naslov: </label>
    <input type="text" id="naslov" name="naslov">
    <label for="avtor">Avtor: </label>
    <input type="text" id="avtor" name="avtor">
    % include('_izberi_vrsto.html', id=vrsta, oznaka='Vrsta')
    <input type="submit" value="Dodaj!">
</form>

<form action="/dodaj-vrsto/" method="POST">
    <label for="ime"> Ime vrste: </label>
    <input type="text" id="ime" name="ime">
    <input type="submit" value="Dodaj vrsto!">
</form> 